body {
  text-align: center;
  font: 30px Helvetica, sans-serif;
  user-select: none;
}

*:focus {
  outline: none;
}

.board {
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  cursor: pointer;
  border-collapse: collapse;
}

td {
  width: 50px;
  height: 50px;
  border: 0.5px solid black;
  position: relative;
}

/* Borders */

tr:nth-child(3n + 1) {
  border-top: 3px solid black;
}

tr:last-child {
  border-bottom: 3px solid black;
}

td:nth-child(3n) {
  border-right: 3px solid black;
}

td:first-child {
  border-left: 3px solid black;
}

/* Borders End */

.selected {
  background-color: #aaa;
}

.adjacent {
  background-color: #ddd;
}

.locked {
  color: blue;
}

td > .overlayText {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 15px;
  text-align: center;
}

.corner {
  text-align: left;
  width: 100%;
  height: 100%;
  word-spacing: 4px;
}

.center {
  line-height: 50px;
}

.wrapper {
  display: inline-block;
}

.mainArea {
  display: flex;
  flex-direction: column;
}

.remaining {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  line-height: normal;
  background: #aaa;
  border-radius: 5px;
  margin: 5px;
  outline: 2px solid black;
}

.remaining div {
  margin: 3px;
  width: 2rem;
  cursor: pointer;
}

.header {
  align-self: center;
  width: 100%;
  background-color: #aaa;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
