.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttons button {
  background-color: #aaa;
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 5px;
  float: center;
  margin: 3px;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #c5c5c5;
}

.buttons button:disabled {
  background-color: #555;
  color: #eee;
}

@media (prefers-color-scheme: dark) {
  .buttons button {
    background-color: #555;
  }

  .buttons button:hover {
    background-color: #3a3a3a;
  }

  .buttons button:disabled {
    background-color: #aaa;
    color: #111;
  }
}
